/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* flatpickr */
@import "flatpickr/dist/flatpickr.min.css";

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #000;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

@layer utilities {
    .btn-logout {
        display: flex;
        position: absolute;
        padding: 5px;
        width: 10rem;
        cursor: pointer;
        bottom: 5rem;
        border-radius: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: rgb(12 74 110);
        right: 0;
        gap: 5px;
        border: 1px solid rgb(12 74 110);
        align-items: center;
        justify-content: center;
        transition: bottom 0.5s ease;
    }

    .show-btn-logout {
        bottom: -4rem;
    }

    .btn-logout:hover {
        color: #fff;
        background-color: rgb(12 74 110);
    }

    .chevron-up {
        transform: rotate(180deg);
    }
}
