@import "flatpickr/dist/flatpickr.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #000;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

@layer utilities {
    .btn-logout {
        z-index: 999;
        opacity: 0;
        display: flex;
        position: absolute;
        padding: 5px;
        width: 10rem;
        cursor: pointer;
        bottom: 5rem;
        border-radius: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: rgb(12 74 110);
        right: 0;
        gap: 5px;
        border: 1px solid rgb(12 74 110);
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }

    .show-btn-logout {
        bottom: -4rem;
        opacity: 1;
    }

    .btn-logout:hover {
        color: #fff;
        background-color: rgb(12 74 110);
    }

    .chevron-up {
        transform: rotate(180deg);
    }
}


body {
    @apply
    min-h-screen
    overflow-x-hidden
}

main {
    @apply
    flex-1
}

.app-detail__box {
    @apply
    h-fit
}

/* .emp-his-button {
    @apply
    bg-[#0269a1]
    text-white
    p-0
    border
    border-[#0269a1]
}

.emp-his-button:hover {
    @apply
    bg-white
    text-sky-900
    transition-all
    ease-in
    border
    border-sky-900
} */

.emp-his-button {
    @apply
    text-sky-900
}

.emp-his-button--active i {
    @apply
    rotate-90
}

.sidebar {
    @apply
    flex-1
}